.App {
  font-family: sans-serif;
  text-align: center;
}
.row {
  display: flex;
  flex-direction: row;
}
.name {
  background-color: silver;
}
.pronouns {
  background-color: yellow;
}
.school {
  background-color: magenta;
}
.year {
  background-color: lightblue;
}
.color {
  background-color: orange;
}
.platform {
  background-color: lightcoral;
}
.animal {
  background-color: seashell;
}
.nickname {
  background-color: greenyellow;
}
